<div class="row align-middle" style="margin-top: 7%;">
<div class="col-md-4">&nbsp</div>
<div class="col-md-4" style="margin: 22px;">
  <p align="center">
    <img style="img img-responsive" src="https://liveclinic.com/img/logo.png" />
  </p>
  <h5>{{message}}</h5>
  <form class="form" method="post" action="tryLogin">
    <div class="form-group">
      <input type="text" name="email" id="email" class="form-control"/>
    </div>
    <div class="form-group">
      <input type="password" name="password" id="password" class="form-control"/>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-success"/>
    </div>
  </form>
</div>
<div class="col-md-4"></div>
</div>
